<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova.sunmi.printer" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" >
    <name>SunmiPlugin</name>
    <description>Cordova Plugin for Sunmi Printer using AIDL</description>
    <license>ISC</license>
    <keywords>cordova, sunmi, printer, aidl</keywords>
    <engines>
        <engine name="cordova" version=">=5.0.0" />
    </engines>

    <platform name="android">

        <source-file src="src/android/SunmiPrinter.java" target-dir="src/com/sunmi/printer" />
        <aidl src="src/android/com/sunmi/extprinterservice/ExtPrinterService.aidl" target-dir="src/com/sunmi/extprinterservice" />
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BIND_PRINT_SERVICE" />
            <source-file src="src/android/SunmiPrinter.java" target-dir="src/android/" />
            <source-file src="src/android/com/sunmi/extprinterservice/ExtPrinterService.aidl" target-dir="src/com/sunmi/extprinterservice" />
            
            <!-- Add other permissions as needed -->


        </config-file>
    </platform>

    <js-module src="www/SunmiPlugin.js" name="SunmiPlugin">
        <clobbers target="cordova.plugins.SunmiPlugin" />
    </js-module>
</plugin>
